In [16]:
#07-04-2025
#sqlwithpython(mysql)
#mysqlandtkinter

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\senthil kumar\appdata\local\programs\python\python313\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from mysql import connector

connection = connector.connect(user = "root" , password = "admin", host = "localhost", db = "salesDB")

In [4]:
from mysql import connector

connection = connector.connect(user = "root" , password = "admin", host = "localhost", db = "salesDB")

cursor = connection.cursor()
cursor.execute("show tables")
tables = cursor.fetchall()

for table in tables:
    print(table)

('customers',)
('orderdetails',)
('orders',)
('products',)

In [14]:
from mysql import connector

connection = connector.connect(user = "root" , password = "admin", host = "localhost", db = "salesDB")

cursor = connection.cursor()
cursor.execute("select * from customers")
records = cursor.fetchall()

for i in records:
    print(i)

(1, 'John', 'Doe', 'john.doe@example.com', '123-456-7890', '123 Main St')
(2, 'Jane', 'Smith', 'jane.smith@example.com', '987-654-3210', '456 Elm St')
(3, 'Alice', 'Johnson', 'alice.johnson@example.com', '111-222-3333', '789 Oak St')
(4, 'Bob', 'Brown', 'bob.brown@example.com', '444-555-6666', '101 Pine St')
(5, 'Charlie', 'Davis', 'charlie.davis@example.com', '555-666-7777', '202 Birch St')
(6, 'Diana', 'Miller', 'diana.miller@example.com', '666-777-8888', '303 Cedar St')
(7, 'Eve', 'Wilson', 'eve.wilson@example.com', '777-888-9999', '404 Maple St')
(8, 'Frank', 'Taylor', 'frank.taylor@example.com', '888-999-0000', '505 Willow St')
(9, 'Grace', 'Moore', 'grace.moore@example.com', '999-000-1111', '606 Palm St')
(10, 'Harry', 'Anderson', 'harry.anderson@example.com', '111-000-2222', '707 Redwood St')
(11, 'Sam', 'Prasad', 'sam@gmail.com', '943-234-1080', '123 sub St')
(12, 'Thiru', 'Lok', 'Thiru@gmail.com', '987-897-1090', '106,mettukuppam Road')

In [8]:
from mysql import connector

connection = connector.connect(user = "root" , password = "admin", host = "localhost", db = "salesDB")

cursor = connection.cursor()
cursor.execute("insert into customers(first_name, last_name, email, phone, address) values('Sam','Prasad', 'sam@gmail.com','943-234-1080','123 sub St')")

connection.commit()

In [15]:
import tkinter as tk
from tkinter import messagebox
import mysql.connector

def connect_db():
    try:
        conn = mysql.connector.connect(
            user = "root" , 
            password = "admin", 
            host = "localhost", 
            db = "salesDB"
        )
        return conn
    except mysql.connector.Error as e:
        messagebox.showerror("Database Error", f"Error Connecting to the database: \n{e}")
        return None

 
def insert_values():
    first_name = entry_fname.get()
    last_name = entry_lname.get()
    email = entry_email.get()
    phone = entry_phone.get()
    address = entry_address.get()
    
    if first_name and last_name and email and phone and address:
        conn = connect_db()
        if conn:
            cursor = conn.cursor()
            cursor.execute("INSERT INTO customers(first_name, last_name, email, phone, address) VALUES (%s, %s, %s, %s, %s)", 
                           (first_name, last_name, email, phone, address))
            conn.commit()
            cursor.close()
            conn.close()
            messagebox.showinfo("Success", "Values added successfully!")
            clear_entries()
            fetch_values()
    else:
        messagebox.showwarning("Input Error", "Please enter all fields!")

def fetch_values():
    conn = connect_db()
    if conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM customers")
        rows = cursor.fetchall()
        cursor.close()
        conn.close()

        listbox_jobs.delete(0, tk.END)  
        for row in rows:
            listbox_jobs.insert(tk.END, f"First_Name: {row[0]} | Last_Name: {row[1]} | Email: {row[2]} | Phone: {row[3]} | Address: {row[4]}")


def clear_entries():
    entry_fname.delete(0, tk.END)
    entry_lname.delete(0, tk.END)
    entry_email.delete(0, tk.END)
    entry_phone.delete(0, tk.END)
    entry_address.delete(0, tk.END)


root = tk.Tk()
root.title("Database Management GUI")
root.geometry("450x500")

tk.Label(root, text="First_Name:").pack()
entry_fname = tk.Entry(root)
entry_fname.pack()

tk.Label(root, text="Last_Name:").pack()
entry_lname = tk.Entry(root)
entry_lname.pack()

tk.Label(root, text="Email:").pack()
entry_email = tk.Entry(root)
entry_email.pack()

tk.Label(root, text="Phone:").pack()
entry_phone = tk.Entry(root)
entry_phone.pack()

tk.Label(root, text="Address:").pack()
entry_address = tk.Entry(root)
entry_address.pack()

tk.Button(root, text="Add Values", command=insert_values).pack(pady=5)

tk.Label(root, text="Values List:").pack()
listbox_jobs = tk.Listbox(root, width=70, height=10)
listbox_jobs.pack()

tk.Button(root, text="Refresh List", command=fetch_values).pack(pady=5)


fetch_values()

root.mainloop()