In [1]:
# 10/03/2025
#introduction to python(installing python & setting up jupyter)
#comments, documentation String
#variables
#rules to define variable

#datatypes should be started 11/03/2025

print("Hello World")

Hello World

In [5]:
import pandas as pd

In [6]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

In [7]:
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [9]:
myvar2 = pd.Series(a, index = ["1", "2", "3"])

print(myvar2)

1    1
2    7
3    2
dtype: int64

In [4]:
print("Hello World")

#it is embedded programming language

# "# - single line command """ """ - documentation string"

Hello World

In [ ]:
1. a variable can start with upper or lowercase or undercases.
2.should not start with integer.
3.should not contain any special character.
4.keywords should not be used as variables as they have their unique meanings.
5.variables are case sensitive (means  Apple and apple are different)

In [10]:
apple = 45
Apple = 46
APPLE = 47
ApPlE = "\neach have their own value if they means the same name"
print(apple,Apple,APPLE,ApPlE)

45 46 47
each have their own value if they means the same name

In [ ]:
# 11/03/2025
#datatypes skipped
# indexing slicing

In [17]:
#indexing 
""" types of indexing
    1. positive indexing - starts from 0 to end -1 (left to right)
    2. negative indexing - starts from -1 to end - start (right to left)"""

' types of indexing\n    1. positive indexing - starts from 0 to end -1 (left to right)\n    2. negative indexing - starts from -1 to end - start (right to left)'

In [18]:
a = "HelloWorld"
b = "Welcometopracticesession"
print(a[7])
b[7]

r

't'

In [29]:
s = "Welcome to practice session "
a = s[0:]
b = s[-7:]

print(a)
print(b)

Welcome to practice session
ession

In [28]:
s[11:19]

'practice'

In [30]:
s[:-1]

'Welcome to practice session'

In [ ]:
#12/03/2025
#input function
#eval keyword
#string formatting
#DataStructure-(list,tuple,set,dictionary,range)

In [31]:
a = input("Enter a input")
type(a)

Enter a input Senthil Kumar.B

str

In [37]:
a1 = eval(input("enter a input(string)"))
a2 = eval(input("enter a input(integer)"))
a3 = eval(input("enter a input(float)"))
print(type (a1))
print(type (a2))
print(type (a3))

enter a input(string) "Senthil Kumar .B"
enter a input(integer) 23
enter a input(float) 78.89898988

<class 'str'>
<class 'int'>
<class 'float'>

In [39]:
#string formatting

#Using %
#%s- string, %d- integer , %f - float

print("My name is %s and I am %d years old and my cgpa is %f"%(a1,a2,a3))

My name is Senthil Kumar .B and I am 23 years old and my cgpa is 78.898990

In [40]:
#Using .format

print("My name is {} and I am {} years old and my cgpa is {}".format(a1,a2,a3))

My name is Senthil Kumar .B and I am 23 years old and my cgpa is 78.89898988

In [41]:
#Using f string

print(f"My name is {a1} and I am {a2} years old and my cgpa is {a3}")

My name is Senthil Kumar .B and I am 23 years old and my cgpa is 78.89898988

In [73]:
#list - mutable,have duplicates, heterogeneous(different datatypes)
# append - add value at end , insert - specific position
# merging list using 1. + operator 2. extend - multiple values or another list at the end
# 3. += operator.

# del to delete entire list use with slice concept to delete a sequence of values
# pop to delete a specific values from a postion if not mentioned last position will be removed
# remove delete based on value if duplicate is there it will delete the first occurenece
# clear will remove the values but empty list will be there.

#sort
#reverse



l1 = [4, 2.1, 'Senthil', True]
l2 = [1,2,3,4,5]
l3 = ['hi', 'hello', 'greetings', 'welcome', 'good day']
print(l1)
print(l2)
print(l3)

[4, 2.1, 'Senthil', True]
[1, 2, 3, 4, 5]
['hi', 'hello', 'greetings', 'welcome', 'good day']

In [46]:
print(l1[0:],
l1[1:3])

[4, 2.1, 'Senthil', True] [2.1, 'Senthil']

In [69]:
l1.clear()
l2.clear()
l3.clear()

In [71]:

l1.append(6)
print(l1)
l2.insert(4, 'Kumar')
print(l2)
l3.extend(l2)
print(l3)

[4, 2.1, 'Senthil', True, 6]
[1, 2, 3, 4, 'Kumar', 5]
['hi', 'hello', 'greetings', 'welcome', 'good day', 1, 2, 3, 4, 'Kumar', 5]

In [72]:
print(l1)
print(l2)
print(l3)

[4, 2.1, 'Senthil', True, 6]
[1, 2, 3, 4, 'Kumar', 5]
['hi', 'hello', 'greetings', 'welcome', 'good day', 1, 2, 3, 4, 'Kumar', 5]

In [75]:
#duplicating
list1 = [4,5,6,7,8,9,10]
list2 = list1
print(list1)
print(list2)
print(id(list1))
print(id(list2))

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
2425314107072
2425314107072

In [76]:
#renaming
list1 = [4,5,6,7,8,9,10]
list2 = list1.copy()
print(list1)
print(list2)
print(id(list1))
print(id(list2))

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
2425314103808
2425313971200

In [86]:
#unpacking

[hi, hello] = [1,2]
hello

2

In [85]:
hi

1

In [87]:
#commom methods or functions used with in built data structure(list,tuple,set,dict)
list = [2,3,4,4,5,6,5,3,2,1,2]
print(min(list))
print(max(list))
print(len(list))
print(sum(list))
print(list.count(2))

1
6
11
37
3

In [103]:
#tuple - immutable (we cannot perform insert,delete, append, extend directly)
#it is enclosed within paranthesis.

 
#Functions you can use directly with tuples (immutable):

#Access elements (indexing, slicing)
#len()
#count()
#index()
#Concatenation (+)
#Repetition (*)
#Membership (in)

#Functions requiring conversion to a list:

#sort()
#append()
#insert()
#remove()
#extend()
#pop()




mytuple = tuple(list)

print(mytuple)

print(min(mytuple))
print(max(mytuple))
print(len(mytuple))
print(sum(mytuple))
print(mytuple.count(2))

(2, 3, 4, 4, 5, 6, 5, 3, 2, 1, 2)
1
6
11
37
3

In [111]:
#dictionary - mutable , no indexing because it isunordered , no duplicate key are allowed
#if try add a key that already exists it just update with new value
# or else it add the key : value at the end of the dictionary.


#Functions common to dictionaries, lists, and tuples:

#len()
#in
#max() and min()
#sorted()

#Unique to dictionaries:

#keys()
#values()
#items()
#get()
#pop()
#update()
#setdefault()

dis = {"a" : 98, "b":100, "c": 97 }

print (dis)

dis["c"] = 99

print (dis)

dis["d"] = 101

print(dis)

{'a': 98, 'b': 100, 'c': 97}
{'a': 98, 'b': 100, 'c': 99}
{'a': 98, 'b': 100, 'c': 99, 'd': 101}

In [112]:
#merging - update
dis2 = {"e": 100, "f":103, "g": 102}

print (dis)
print(dis2)

dis.update(dis2)

print(dis)

{'a': 98, 'b': 100, 'c': 99, 'd': 101}
{'e': 100, 'f': 103, 'g': 102}
{'a': 98, 'b': 100, 'c': 99, 'd': 101, 'e': 100, 'f': 103, 'g': 102}

In [113]:
# set - do not allow duplicates , unordered data structure, heterogenous
#discard - remove using value and not show error if value not present
#union, intersection, difference, symmentric diffrence



s1 = {2,3,34,5,3,"hi",True}

print(s1)

{True, 2, 3, 34, 5, 'hi'}

In [ ]:
#13/03/2025
#range - iterable object
#mutable and immutable operators
#1.arthmetic operators
#2.assignment operators
#3.comparison operators

In [6]:
# range

a = range(10)

for i in a:
    print(i)

print(list(a))
print(tuple(a))

for i in list(a):
    print(i)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0
1
2
3
4
5
6
7
8
9

In [7]:
c = range(10, 30, 2)

print(list(c))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [14]:
#arthmetic operators - immutable operator

a = 10 
b = 20
c = 2
d = 3

print(a)
print(b)
print(c)
print(d)
print()
print(a+b)
print(b-a)
print(a*b)
print(b/d)
print(b%d)
print(b//d)
print(c**d)
print()
print(a)
print(b)
print(c)
print(d)

10
20
2
3

30
10
200
6.666666666666667
2
6
8

10
20
2
3

In [18]:
#assignment operators - mutable operators

a = 10 
b = 20
c = 2
d = 3

print(a)
print(b)
print(c)
print(d)
print()

a += 2
b -= 2
c *= 2
d /= 2


print(a)
print(b)
print(c)
print(d)
print()

10
20
2
3

12
18
4
1.5

In [22]:
#comparison operator - immutable operator

a = 10 
b = 20
c = 2
d = 3
e = 20 

print (a<b)
print (b>c)
print (b<=e)
print (b >= c)
print(b != e)
print ( c == d)

True
True
True
True
False
False

In [ ]:
#14/03/2025
#4.logical operators
#5. identical operators
#6.membership operators
#7.bitwise operator
#8.right shift and left shift

In [ ]:
#logical operator - immutable operators

In [30]:
print(1 and 0)
print(1 and 1)
print(0 and 0)
print(0 and 1)
print()
print(1 or 0)
print(1 or 1)
print(0 or 0)
print(0 or 1)
print()

print(not 0)
print(not 1)
print(not True)
print(not False)

0
1
0
0

1
1
0
1

True
False
False
True

In [43]:


a = 8
b = 8

print(a)
print(b)

print(id(a))
print(id(b))

c = a

print(id(c))

print(a == b)
print( c == a)

c += 2

print (c)
print(id(c))

8
8
140708167353480
140708167353480
140708167353480
True
True
10
140708167353544

In [41]:
#identical operator - checks memory address
a is b

True

In [42]:
l1 = [1,2,3]
l2 = [1,2,3]

print(l1 == l2) # comparison - checks values
print (l1 is l2) #identity - checks memory
print(l1 is not l2)

True
False
True

In [46]:
#membership operators

mem = [23 , 45, 66, 89, 67]

print(23 in mem)
print(56 in mem)
print(89 not in mem)
print(100 in mem)

True
False
False
False

In [49]:
a = 8
print(bin(a))
print(oct(a))
print(hex(a))
print(str(a))
print(float(a))
print(complex(a))
print(bool(a))

0b1000
0o10
0x8
8
8.0
(8+0j)
True

In [52]:
#bitwise operator

print(5 & 6)
print(5 | 6)
print(~-5)

# 5  = 101
# 6  = 110

#AND = 100 = 4
# OR = 111 = 7
# ~-5 = (-n-1) = -(-5) -1 = 5 - 1 = 4

4
7
4

In [55]:
#right shfit & left shfit

#right shfit - remove last mentioned number of bits

print(bin(8))
print( 8 >> 2)
print(bin(8 >> 2))

#left shfit - add  number of 0  mentioned number of bits to the last

print(bin(8))
print( 8 << 2)
print(bin(8 << 2))

0b1000
2
0b10
0b1000
32
0b100000