In [ ]:
# 24/03/2025
# using with - dont need to write a separate code 
# to close the file or directory

# append - add extra data to end of existing data in a file instead of overwriting with new value like write() does
# 
# handling txt,img, csv, json

In [2]:
#using with
with open("sample.txt") as f:
    print(f.read())

Different programming languages
1.python
2.c
3.c++
4.Java

In [4]:
img_data = open("wallpaper1.jpg" , "rb")
img_data.read()[:100]

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01\x00H\x00H\x00\x00\xff\xdb\x00C\x00\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x02\x02\x03\x02\x02\x02\x02\x02\x04\x03\x03\x02\x03\x05\x04\x05\x05\x05\x04\x04\x04\x05\x06\x07\x06\x05\x05\x07\x06\x04\x04\x06\t\x06\x07\x08\x08\x08\x08\x08\x05\x06\t\n\t\x08\n\x07\x08\x08\x08\xff\xc0\x00\x0b\x08\x01\x8a\x02\xbc\x01\x01'

In [6]:
with open("wallpaper1.jpg" , "rb") as f:
    print(f.read()[:100])

b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01\x00H\x00H\x00\x00\xff\xdb\x00C\x00\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x01\x02\x02\x03\x02\x02\x02\x02\x02\x04\x03\x03\x02\x03\x05\x04\x05\x05\x05\x04\x04\x04\x05\x06\x07\x06\x05\x05\x07\x06\x04\x04\x06\t\x06\x07\x08\x08\x08\x08\x08\x05\x06\t\n\t\x08\n\x07\x08\x08\x08\xff\xc0\x00\x0b\x08\x01\x8a\x02\xbc\x01\x01'

In [7]:
img_data = open("wallpaper1.jpg", "rb")
data = img_data.read()

with open("wallpaper2copy.jpeg", "wb") as f:
    f.write(data)

In [10]:
with open("employee.csv" , "r") as e:
    print(e.read())

name,salary,exp,city,age,Gender
john,3000,4,losvegas,30,Male
doe,4000,5, dc,25,Female
robert,8000,6, paris,27,Male
chris,9000,7,newyork,24,Female
,3000,,losvegas,35,Male
john,3000,4,losvegas,33,Female
evans,,4,losvegas,31,Male
tom,3000,4,,37,Female

In [11]:
import csv
data = open("employee.csv", "r")

records = csv.reader(data)

for i in records:
    print(tuple(i))

('name', 'salary', 'exp', 'city', 'age', 'Gender')
('john', '3000', '4', 'losvegas', '30', 'Male')
('doe', '4000', '5', ' dc', '25', 'Female')
('robert', '8000', '6', ' paris', '27', 'Male')
('chris', '9000', '7', 'newyork', '24', 'Female')
('', '3000', '', 'losvegas', '35', 'Male')
('john', '3000', '4', 'losvegas', '33', 'Female')
('evans', '', '4', 'losvegas', '31', 'Male')
('tom', '3000', '4', '', '37', 'Female')

In [16]:
import csv
data = open("employee.csv", "r")

records = csv.DictReader(data)

for record in records:
    print(record)

{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '30', 'Gender': 'Male'}
{'name': 'doe', 'salary': '4000', 'exp': '5', 'city': ' dc', 'age': '25', 'Gender': 'Female'}
{'name': 'robert', 'salary': '8000', 'exp': '6', 'city': ' paris', 'age': '27', 'Gender': 'Male'}
{'name': 'chris', 'salary': '9000', 'exp': '7', 'city': 'newyork', 'age': '24', 'Gender': 'Female'}
{'name': '', 'salary': '3000', 'exp': '', 'city': 'losvegas', 'age': '35', 'Gender': 'Male'}
{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '33', 'Gender': 'Female'}
{'name': 'evans', 'salary': '', 'exp': '4', 'city': 'losvegas', 'age': '31', 'Gender': 'Male'}
{'name': 'tom', 'salary': '3000', 'exp': '4', 'city': '', 'age': '37', 'Gender': 'Female'}

In [32]:
file_data = open("sample.txt", "r")
print(file_data.read())

Different programming languages
1.python
2.c
3.c++
4.Java

In [33]:
#append
with open("sample.txt", "a") as f:
    f.write("\n5.javascript")

In [34]:
file_data = open("sample.txt", "r")
print(file_data.read())

Different programming languages
1.python
2.c
3.c++
4.Java
5.javascript

In [43]:
#write or copy csv files

import csv
with open("employee.csv", "r") as data:
    records = csv.reader(data)
    with open("copyemployee.csv", "a", newline='') as csv_new:
        writer = csv.writer(csv_new)
        for record in records:
            writer.writerow(record)

In [46]:
with open("file_1.json" , "r") as f:
    print(f.read())

{
  "name": "John Doe",
  "age": 30,
  "email": "john.doe@example.com",
  "skills": ["Python", "JavaScript", "HTML"],
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "zipcode": "12345"
  }
}

In [48]:
file_obj = open("file_1.json", "r")
print(file_obj.read())

{
  "name": "John Doe",
  "age": 30,
  "email": "john.doe@example.com",
  "skills": ["Python", "JavaScript", "HTML"],
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "zipcode": "12345"
  }
}

In [49]:
import json

data = open("file_1.json")
json.load(data)

{'name': 'John Doe',
 'age': 30,
 'email': 'john.doe@example.com',
 'skills': ['Python', 'JavaScript', 'HTML'],
 'address': {'street': '123 Main St', 'city': 'Anytown', 'zipcode': '12345'}}

In [ ]:
#25/03/25

# copying json 
#try except and finally

In [50]:
#try and except


print("python execution")
try:
    4/0
except:
    print("error handled")
print("hello world")

python execution
error handled
hello world

In [64]:
try:
    a = eval(input("enter the first val"))
    b = eval(input("enter the second val"))
    if(a>0 and b > 0 and a>=b):
        print(f"you have enter {a} and {b} so {a}/{b} is {a/b}" )
    else:
        raise ZeroDivisionError 
    
except ZeroDivisionError:
    if(a == 0):
        print(f"Even though if numerator {a} is zero it is not a good practice.")
    elif(b == 0):
        print(f"if {b} is 0 it leads zerodivison error.")
    else:
        print("please enter the numerator larger than denominator and denominator not zero")
    print("error handled")

finally:
    print ("I always run irrespective of any errors")

enter the first val 35
enter the second val 7

you have enter 35 and 7 so 35/7 is 5.0
I always run irrespective of any errors

In [65]:
#24 and 25 my try

with open('sample.txt.txt','r') as f:
    data = f.read()
    print(data)

1. learn python basics
2. practice simple codes for every topic
3.practice in platforms like leetcode ,hackerrank etc

In [67]:
with open('sample.txt.txt' ,'r') as f:
    line = f.readline()
    print(line)

1. learn python basics

In [68]:
with open('sample.txt.txt' ,'r') as f:
    lines = f.readlines()
    for line in lines:
        print(line)

1. learn python basics

2. practice simple codes for every topic

3.practice in platforms like leetcode ,hackerrank etc

In [72]:
with open('example.txt', 'w') as file:
    file.write("Hello, this is a new text file.")

In [75]:
lines =["Hello Everyone!\n" , "My name is Senthil Kumar.B\n", "I am a Computer Engineer"]
with open('example.txt', 'w') as file:
    file.writelines(lines)

In [77]:
with open('example.txt', 'a') as file:
    file.write("\nAnd I am a fresher currently looking for job as a data analyst")

In [78]:
with open('example.txt', 'r') as src:
    with open('copyexample.txt' , 'w' ) as dst:
        dst.write(src.read())

In [85]:
import csv 

file =  open('employee.csv', 'r')
reader = csv.reader(file)
for i in reader:
    print(i)

['name', 'salary', 'exp', 'city', 'age', 'Gender']
['john', '3000', '4', 'losvegas', '30', 'Male']
['doe', '4000', '5', ' dc', '25', 'Female']
['robert', '8000', '6', ' paris', '27', 'Male']
['chris', '9000', '7', 'newyork', '24', 'Female']
['', '3000', '', 'losvegas', '35', 'Male']
['john', '3000', '4', 'losvegas', '33', 'Female']
['evans', '', '4', 'losvegas', '31', 'Male']
['tom', '3000', '4', '', '37', 'Female']

In [86]:
import csv 

file =  open('employee.csv', 'r')
dictreader = csv.DictReader(file)
for j in dictreader:
    print(j)

{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '30', 'Gender': 'Male'}
{'name': 'doe', 'salary': '4000', 'exp': '5', 'city': ' dc', 'age': '25', 'Gender': 'Female'}
{'name': 'robert', 'salary': '8000', 'exp': '6', 'city': ' paris', 'age': '27', 'Gender': 'Male'}
{'name': 'chris', 'salary': '9000', 'exp': '7', 'city': 'newyork', 'age': '24', 'Gender': 'Female'}
{'name': '', 'salary': '3000', 'exp': '', 'city': 'losvegas', 'age': '35', 'Gender': 'Male'}
{'name': 'john', 'salary': '3000', 'exp': '4', 'city': 'losvegas', 'age': '33', 'Gender': 'Female'}
{'name': 'evans', 'salary': '', 'exp': '4', 'city': 'losvegas', 'age': '31', 'Gender': 'Male'}
{'name': 'tom', 'salary': '3000', 'exp': '4', 'city': '', 'age': '37', 'Gender': 'Female'}

In [87]:
import csv
data = [['Name','age','job', 'experience' ,'status'],['senthil',22,'data analyst','fresher','single'],['thiru',21,'developer', 'intern', 'single']]
with open ('newtry.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [88]:
import csv
data = [{'Name': 'John', 'Age': 25}, {'Name': 'Alice', 'Age': 30}]
with open('newtrydict.csv', 'w', newline='') as file:
    fieldnames = ['Name', 'Age']
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(data)

In [90]:
import csv
newdata = [['bob', 22],['sam', 27]]
with open ('newtrydict.csv', 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(newdata)

In [92]:
import csv
with open('newtrydict.csv' , 'r') as src:
    reader = csv.reader(src)
    with open ('copytrydictm.csv' ,'w',newline='') as dst:
        writer = csv.writer(dst)
        for row in reader:
            writer.writerow(row)

In [93]:
import json
data = {"name": "John", "age": 30, "city": "New York"}
with open('example.json', 'w') as file:
    json.dump(data, file)

In [94]:
import json
with open('example.json', 'r') as file:
    data = json.load(file)
    print(data)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [98]:
import json
with open('example.json', 'r') as file:
    data = json.load(file)
new_data = {"name": "Alice", "age": 25}
data["new_user"] = new_data
with open('example.json', 'w') as file:
    json.dump(data, file, indent=4)

In [99]:
import json

with open('example.json', 'r' ) as src:
    data = json.load(src)

with open ('copyexaple.json', 'w' ) as dst:
    json.dump(data,dst)

In [ ]:
#26-03-2025
# user defined exception
# class

In [17]:
#user defined exception

class Bigvalue(Exception):
    def __init__(self):
        self.warning = f"given second value {b}  is big than first value"

try:
    a = eval(input("enter the first val:"))
    b= eval(input("enter the second val:"))

    if type(a) == int and type(b) == int and a >= b:
        print(a/b)
    elif b > a:
        raise Bigvalue
except ZeroDivisionError:
    print(f"the error occured because value is {a}/{b}")
except TypeError:
    print(f"the type of first values is {type(a)} and second value is {type(b)}")
except Bigvalue as e:
    print (e.warning)

enter the first val: 5
enter the second val: 5

1.0

In [6]:
# user-defined exception

class Bigvalue(Exception):
    def __init__(self, a, b):
        self.warning = f"Given second value {b} is bigger than first value {a}"

    def __str__(self):
        return self.warning


class Smallvalue(Exception):
    def __init__(self, a, b):
        self.warning = f"Given first value {a} is smaller than second value {b}"

    def __str__(self):
        return self.warning


try:
    a = eval(input("Enter the first value: "))
    b = eval(input("Enter the second value: "))

    if type(a) == int and type(b) == int:
        if a >= b:
            print(a / b)
        elif b > a:
            raise Bigvalue(a, b)
        elif a < b:
            raise Smallvalue(a, b)
    else:
        raise TypeError("Both values should be integers.")

except ZeroDivisionError:
    print(f"The error occurred because the second value is {b}, and division by zero is not allowed.")
except TypeError as e:
    print(f"Error: {e}")
except Bigvalue as e:
    print(e)
except Smallvalue as e:
    print(e)

Enter the first value:  3
Enter the second value:  15

Given second value 15 is bigger than first value 3

In [31]:
#class

class test:
    print("hello world")
    x = 8
    y = 4
    def add(self, z):
        self.z = z
        return self.x +  self.y + z

obj = test()
print(obj.x)
print(obj.y)
print(obj.add(8))
print(obj.z)

hello world
8
4
20
8

In [ ]:
#27/03/2025
# class continuation
# static method - class
# class method - class
# outer and inner class

In [8]:
class Test:
    def __init__(self, p1,p2):
        self.x = p1
        self.y = p2
    def add(self):
        return self.x + self.y

obj = Test(2,3)
obj.add()

5

In [9]:
class Test:
    def __init__(self, p1,p2):
        self.x = p1
        self.y = p2
    def add(self):
        return self.x + self.y

obj = Test(2,3)
print(obj.add())
print(obj.x)
print(obj.y)

5
2
3

In [31]:
class Test:
    a = 45
    def __init__(self, p1,p2):
        self.x = p1
        self.y = p2
    def add(self):
        return self.x + self.y

    @staticmethod
    def hello():
        return "hello world"

    @classmethod
    def world(cls):
        return cls.a

    
obj = Test(2,3)
print(obj.add())
print(obj.x)
print(obj.y)
print(obj.hello())
obj.world()

5
2
3
hello world

45

In [22]:
class Test:
    a = 45
    def __init__(self, p1,p2):
        self.x = p1
        self.y = p2
    def add(self):
        return self.x + self.y

obj = Test(5,2)
print(obj.x)
print(obj.y)
print(obj.add())

obj.x = 10
obj.y = 4
print(obj.x)
print(obj.y)
print(obj.add())

5
2
7
10
4
14

In [29]:
class Test:
    a = 45
    def __init__(self, name,city):
        self.name = name
        self.city = city
    def fullname(self, lastname):
        self.name = self.name + lastname
        return self.name

    def address(self, state):
        self.city = self.city + state
        return self.city

obj = Test("Senthil", "Chennai,")
print(obj.fullname(" Kumar.B"))
print(obj.address(" Tamil Nadu"))

Senthil Kumar.B
Chennai, Tamil Nadu

In [1]:
class outer:
    def __init__(self, p1):
        self.x = p1
    def add(self):
        print("outer class instance method")
        return self.x
   
    class inner:
        def __init__(self, p1):
            self.x = p1
        def show(self):
            print("inner class instance method")
            return self.x

outerobj = outer(5)
print(outerobj.add())

innerobj = outerobj.inner(67)
print(innerobj.show())

outer class instance method
5
inner class instance method
67